*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(127, 89, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
.summarize-article{
    height: 300px;
    width: 600px;
    /* border: 1px solid black; */
    overflow-x: hidden;
}
.heading{
    margin-bottom: 30px;
    font-size: xx-large;
}

.summary{
  padding: 2%;
    font-size: 15px;
    text-align: justify;
    font-size:medium;
}


.btn{
    height: 40px;
    width: 50px;
    border-radius: 30px;
}
:hover.btn{
  background-color: black;
  color: white;

}

#url{
  padding-left: 10px;
  height: 40px;
  width: 400px;
  border:none;
  outline: none;
  border-radius: 30px;

}




.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  